.InfoItem {
  border: 1px solid rgb(236, 236, 236);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.InfoItem .card_container {
  width: 100%;
  position: relative;
  cursor: pointer;
}


.InfoItem .card_container > h1 {
  border-radius: 5px;
  background-color: white;
  font-size: 140px;
  /* position: relative; */
}


.InfoItem .card_container > h2 {
  /* absolute값으로 들어가서 현재 지금 전체 태그가 쌓이지 않음 */
  position: absolute;
  top : 60%;
  /* top은 먹는데 왜 left : 10은 한꺼번에 쏠리는 걸까? */
  left : 60px;
  /* Q. left : 10으로 하면 한꺼번에 와지는 문제 */
  background-color: rgb(0,0,0,0.5);
  border-radius: 5px;
  color : white;
  z-index: 10;
  /* text-align: center; */
}
