.SkillItem {
  display: flex;
  /* flex-direction: column; */
}

.SkillItem .img_section {
  border: 1px solid rgb(236, 236, 236);
  width: 200px;
  height: 200px;
}

.SkillItem .img_section > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}