/* 선생님 코드 */
.Editor > section {
  margin-bottom: 30px;
}

.Editor > section > h4 {
  font-size: 22px;
  font-weight: bold;
}

.Editor > section > input, textarea {
  border: none;
  border-radius: 5px;
  background-color: rgb(236, 236, 236);
  padding : 10px 20px;
  font-size : 20px;
}

/* 하나의 요소로 생각해보면서 => 배치 */
.Editor .emotion_section .emotion_list_wrapper {
  display: flex;
  justify-content: space-between;
  gap: 2%;
}

.Editor > section > textarea {
  padding : 20px;
  /* width: 540px; */
  width: 100%;
  height: 200px;
  resize: vertical;
  box-sizing: border-box;
  /*Q. boxsizing?  */

  /* margin-bottom: 10px; */
  /* 일단 얘네 조절 */
}

.Editor .button_section {
  /* margin: 20px 0px ; */
  display: flex;
  justify-content: space-between;
}

