{% extends "base.html" %}

<!--상세 정보 나타남 : 뭐먹지의 페이지에 들어갔을떄-->
{% block content %}
  <h2>요약 : {{memo.summary}}</h2>
  <h2>메모 : {{memo.memo}}</h2>
  <h2>작성 시각 : {{memo.created_at}}</h2>
  <h2>수정 시각 : {{memo.updated_at}}</h2>
  <!--따라서 여기는 바로 자발적 요청-->
  <form action="{% url "memos:delete" memo.pk%} "> <!--삭제 요청을 보내면 조회를 하고 그냥 삭제를 하는 것-->
    <!--삭제 자체로 rendering을 보내서 메인으로 보내게 하는 것-->
    <input type="submit" value="삭제">
  </form>
  <a href="{% url "memos:index" %}">[back]</a>
  <!--메인 페이지로-->
{% endblock content %}

