@keyframes flip {
  from { transform: rotateY(0deg); }
  to { transform: rotateY(360deg); }
}

.bag_icon {
  width: 50px;
  height: 50px;
  position: fixed;
  top : 90%;
  right : 3%;
  cursor: pointer;
  animation: flip 2s linear infinite;
  transform-style: preserve-3d;
  /* position relative 적용으로 이상해짐 이슈 */
}

/* Q. 그냥 absolute하면 자동으로? */

.bag_icon::before {
  content: "what's in my bag?";
  background-color: rgb(236, 236, 236);
  position: absolute;
  right: 0;
  box-shadow: 0 2px 4px rgb(0,0,0,0.1);
  bottom: 100%;
  border-radius: 5px;
  padding: 5px;
  opacity: 0;
  white-space: nowrap;
  right : 5%;
  transition: opacity 0.3s ease;
  pointer-events: none;

}

.bag_icon:hover::before{
  opacity: 1;
}


.bag_icon > img {
  width: 100%;
  height: 100%;
}