<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>메시지를 보냅니다.</h1>
  <form action="/receive/"> <!--현재 action에 걸맞게 태그가 없다-->
    <!--form tag를 통해서 action을 진행하고, 요청을 어디로 보낼 것인지에 대한 생각을 해야 함-->
    <input type="text" name="message"> <!--name이 들어가있음을 확인함-->
    <!--message=hello로 맞게 query와 input의 value가 들어간 것을 볼 수 있음-->
    <input type="submit" value="[SEND]">
  </form>
</body>
</html>