.Home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.Home > section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Home .title_section {
  font-size: 30px;
  /* margin: 50px; */
}

.Home .img_section {
  display: flex;
  /* img뿐만아니라 imgsection 자체를 */
  position: relative;
}

.Home .img_section > img {
  width: 800px;
  height: 540px;
  max-width: 100%;
  /* height: auto; */
  /* position: relative; */
  cursor: pointer;
}

.Home .img_info_section > img:hover {
  /* 호버이면 */

}

.Home .img_info_section {
  position: absolute;
  top : 40%;
  /* left: 50%; */
  /* width: 80%; */
  /* transform: translate(-50%, -50%); */
  max-width: 1200px;
  /* 이정도로 하고 */
}

.Home .sub_section {
  /* border: 1px solid black; */
  display: inline-flex;
  border-radius: 5px;
  background-color: rgb(236, 236, 236);
  padding: 5px 10px;
  position: absolute;
  margin: 30px;
  /* opacity: 0; */
}