.Home > section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Home .title_section {
  padding-top: 30px;
  font-size: 30px;
  margin: 50px;
}

.Home .img_section {
  display: flex;
  /* img뿐만아니라 imgsection 자체를 */
  position: relative;
}

.Home .img_section > img {
  width: 800px;
  height: 540px;
  max-width: 100%;
  /* height: auto; */
  /* position: relative; */
  cursor: pointer;
}

.Home .img_info_section {
  /* Q. 자동 img relatvie? => 정확한 위치값 설정을 위해 부모 요소 지정 */
  position: absolute;
  top : 40%;
  /* left: 50%; */
  /* width: 80%; */
  /* transform: translate(-50%, -50%); */
  max-width: 1200px;
  /* 이정도로 하고 */
}