.Skill {
  display: flex;
  /* 일단 이 친구들 한줄씩 배치 */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  gap: 30px;
  /* justify-content: space-evenly; */
}

.Skill > section {
  display: flex;
}
