.List {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* LIST 관련은 진행하지 않았음 */

.ListSearch > input{
  width: 100%;
  /* 넓이도 */
  border: none;
  padding : 10px;
  border-bottom: 1px solid rgb(227,227,227);
}

.ListSearch > input:focus {
  /* outLine : 윤곽 */
  outline: none;
  border-bottom : 1px solid rgb(37, 147, 255);
}

.ListInput {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

