/* 선생님 작성 코드 */
.EmotionItem {
  background-color: rgb(236, 236, 236);
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  padding: 20px;
}

.EmotionItem .emotion_img {
  width: 50%;
  margin-bottom: 10px;
}


.EmotionItem_1 {
  background-color: rgb(99,201,101);
}
.EmotionItem_2 {
  background-color: rgb(157,215,114);
}
.EmotionItem_3 {
  background-color: rgb(253,206,23);
}
.EmotionItem_4 {
  background-color: rgb(253, 132, 70);
}
.EmotionItem_5 {
  background-color: rgb(253, 86, 95);
}

