{% extends 'base.html' %}

{% block content %}
  <h1>주차 정보 관리 시스템</h1>
  <p>모든 차고지 정보</p>
  <a href="{% url "garages:new" %}">새 차고지 등록하기</a> <!--create정보-->
  <ul>
  {% for garage in garages %}
    <li>위치 : {{ garage.location }}</li>
    <li>주차 가능 대 수 : {{ garage.capacity }}</li>
    <li>현재 주차 가능 여부 : {{ garage.is_parking_avaliable }}</li>
    <a href="{% url "garages:edit" garage.pk%}">차고지 정보 수정하기</a>
    
    <form action="{% url "garages:delete" garage.pk %}" method="POST"> <!--update를 위한 링크 -> edit 페이지 전달-->
      {% csrf_token %}
      <input type="submit" Value="차고지 정보 삭제">
    </form>
    <hr>
  {% endfor %}
  </ul>
{% endblock content %}