<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  {% if user.is_authenticated %}
    <a href="{% url "change_password" user.pk%}">[Update]</a> 
    <form action="{% url "accounts:logout" %}" method="POST"> <!--logout--> 
      {% csrf_token %}
      <input type="submit" value="[LOGOUT]">
    </form>
    {% else %}
    <a href="{% url "accounts:login" %}">[LOGIN]</a>
    <a href="{% url "accounts:signup" %}">[Sign UP]</a>
  {% endif %}


  {% block content %}
  {% endblock content %}
</body>
</html>