@font-face{ 
  /* 속성 */
  font-family:"NanumPenScript";
  src : url("/NanumPenScript-Regular.ttf");
  /* 이름명 임의 설정, font file의 위치 */
}

html, body {
  margin : 0px;
  width: 100%;
  background-color: rgb(246,246,246);
}

#root {
  background-color: white;
  max-width:600px;
  width: 100%;
  margin : 0 auto;
  min-height: 100vh;
  height: 100%;
  box-shadow: rgba(100, 100, 100, 0.2) 0px 0px 29px 0px; 
  padding : 0px 20px;
  /* vh == view height : 현재 브라우저 스크린 높이  ==최대 높이만큼*/
}


body * {
  font-family: "NanumPenScript";
}